streamlit==1.42.0
opencv-python==4.11.0
pandas==2.2.3
librosa==0.10.2
tensorflow==2.18.0
matplotlib==3.10.0
keras==3.8.0
Keras-Preprocessing==1.1.0
lime==0.2.0
scikit-image==0.25.1
numpy==2.2.3
